# Copyright (c) 2025 Michał Alichniewicz
#
# This file is licensed under the MIT License.
# See the LICENSE file in the repository root for more information.
#
# SPDX-License-Identifier: MIT

name: adguardhome

services:
  adguardhome:
    image: adguard/adguardhome
    ports:
      - 53:53/tcp # plain dns over tcp
      - 53:53/udp # plain dns over udp
      - {{ ansible_host }}:3000:3000/tcp # web interface
    volumes:
      - ./conf:/opt/adguardhome/conf
      - ./work:/opt/adguardhome/work
{% if exposed %}
    # Expose container to Traefik
    networks:
      - {{ exposed_docker_network }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.rule=Host(`{{ dns_name }}`)"
      - "traefik.http.routers.adguard.entrypoints=websecure"
      - "traefik.http.routers.adguard.tls=true"
      - "traefik.http.routers.adguard.tls.certresolver=letencrypt"
      - "traefik.http.services.adguard.loadbalancer.server.port=3000"
networks:
  {{ exposed_docker_network }}:
    name: {{ exposed_docker_network }}
    external: true
    ipam:
      config:
        - subnet: "{{ exposed_docker_network_subnet }}"
{% endif %}
