# Copyright (c) 2025 Michał Alichniewicz
#
# This file is licensed under the MIT License.
# See the LICENSE file in the repository root for more information.
#
# SPDX-License-Identifier: MIT


services:
  traefik:
    image: traefik
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Warsaw
      - CF_API_EMAIL={{ cloudflare_api_email }}
      - CF_DNS_API_TOKEN={{ cloudflare_api_key }}
    ports:
      - 443:443 # HTTPS entryPoints
      - 8090:8080 # Dashboard WebGui
    networks:
      - {{ exposed_docker_network }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/traefik/traefik.yml:/traefik.yml:ro
      - /opt/traefik/certs:/certs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`{{ dns_name.traefik }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=letencrypt"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    networks:
      - {{ exposed_docker_network }}
    environment:
      - TUNNEL_TOKEN={{ cloudflare_tunnel_api_key }}
networks:
  {{ exposed_docker_network }}:
    name: {{ exposed_docker_network }}
    external: true
    ipam:
      config:
        - subnet: "{{ exposed_docker_network_subnet }}"
