# Copyright (c) 2025 Michał Alichniewicz
#
# This file is licensed under the MIT License.
# See the LICENSE file in the repository root for more information.
#
# SPDX-License-Identifier: MIT

services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    ports:
      - 8123:8123
    volumes:
      - /opt/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
{% if exposed %}
    # Expose container to Traefik
    networks:
      - {{ exposed_docker_network }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homeassistant.rule=Host(`{{ dns_name.homeassistant }}`)"
      - "traefik.http.routers.homeassistant.entrypoints=websecure"
      - "traefik.http.routers.homeassistant.tls=true"
      - "traefik.http.routers.homeassistant.tls.certresolver=letencrypt"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"
networks:
  {{ exposed_docker_network }}:
    name: {{ exposed_docker_network }}
    external: true
    ipam:
      config:
        - subnet: "{{ exposed_docker_network_subnet }}"
{% endif %}
