# Copyright (c) 2025 Michał Alichniewicz
#
# This file is licensed under the MIT License.
# See the LICENSE file in the repository root for more information.
#
# SPDX-License-Identifier: MIT

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

homeassistant:
  packages: !include_dir_named packages.d

automation: !include_dir_list automations.d
script: !include_dir_list scripts.d
scene: !include_dir_list scenes.d

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - {{ exposed_docker_network_subnet }}
